<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('includes/admin_head'); %>
</head>
<body>

<div class="sidebar">
  <div class="logo">
    <%- include('includes/logo'); %>
  </div>
  
  <a href="<%= redirectBasePath %>/admin/sessions">Sessions</a>
  <a href="<%= redirectBasePath %>/admin/users">Users</a>
</div>

<div class="content">
  <div class="card">
    <h5>Current Sessions</h5>
    <hr>
    <table id="data">
      <thead>
        <tr>
          <th>Session ID</th>
          <th>Parent Session ID</th>
          <th>Username</th>
          <th>Accessed Host</th>
          <th>Session Expires</th>
          <th>Connecting IP</th>
          <th>User Agent</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% for (const session of sessions) { %>
          <tr>
            <td><%= session.sessionId %></td>
            <td><%= session?.details?.parent_session_id %></td>
            <td><%= session.userId %></td>
            <td><%= session?.details?.original_host %></td>
            <td><%= session.cookie.expires %></td>
            <td><%= session?.details?.remote_ip %></td>
            <td><%= session?.details?.user_agent %></td>
            <td><a href="<%= redirectBasePath %>/admin/sessions/kill?id=<%= session.sessionId %>"><button>Kill Session</button></a></td>
          </tr>
        <% } %>

        <!-- Add more rows as needed -->
      </tbody>
    </table>
  </div>
</div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.datatables.net/2.0.2/js/dataTables.min.js"></script>
<script>
  let table = new DataTable('#data');
</script>
</html>
